grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -e XDEBUG_MODE=off -T web'

  # Tasks.
  tasks:

    # PHP Code Sniffer.
    phpcs:
      triggered_by: '%tasks.triggered_by%'
      metadata:
        priority: 300

    # PHPStan.
    phpstan:
      triggered_by: '%tasks.triggered_by%'
      memory_limit: "-1"
      use_grumphp_paths: true

    # Commit message format.
    git_commit_message:
      matchers: '%tasks.git_commit_message.matchers%'
      case_insensitive: false
      enforce_no_subject_trailing_period: false
      multiline: false
      max_body_width: 0
      max_subject_width: 0

parameters:
  tasks.triggered_by: ['php']
  tasks.git_commit_message.matchers:
    - '/^([A-Z0-9]+\-\d+|Issue #\d+): [A-Z].+\./'