imports:
  - { resource: ./vendor/openeuropa/code-review-library/dist/library-conventions.yml }

grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T php'

parameters:
  # The OpenEuropa library standard is expanded with some custom rules.
  tasks.phpcs.standard: 'phpcs-ruleset.xml'
  tasks.phpstan.level: 8